.black{
    color: black;
}

.text-dark:hover{
    text-decoration: none;
}

.my-6{
    margin-top: 100px;
}

img.featurette-image:hover{
    width: 700px;
    height: 700px;
}

.con__shift{
    margin-top: 5%;
    margin-bottom: 20%;
}

.row{
    margin-left: 17%;
}



